* {
   padding: 0;
   box-sizing: border-box;
   color: #000;
   text-decoration: none;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-style: normal;
   margin: 0;
}

li {
   list-style: none;
}

.order-btn {
   border: none;
   border-radius: 18px;
   background-color: #dbf8f6;
   height: 90px;
   width: 320px;
   font-size: 28px;
   font-weight: 500;
   color: #4b4b4b;
   -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
   -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
   box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);

   &:hover {
      background-color: rgb(195, 231, 229);
      color: #302f2f;
   }
}

.wrapper {
   margin: auto 0;
   max-width: 1920px;
   display: grid;
   justify-items: center;
   padding: 0 70px;

   & .promo {
      padding-top: 40px;
      display: grid;
      justify-items: center;
      position: relative;
      width: 100%;

      & .background-blue {
         position: absolute;
         top: 20px;
         right: -70px;
         width: 55%;
         height: 100%;
         background-color: rgba(146, 242, 255, 0.25);
         z-index: -1;
      }

      & .promo-title {
         font-family: "Roboto", sans-serif;
         font-size: 40px;
         font-weight: 600;
         letter-spacing: 1px;
         color: #e0914b;
      }

      & .promo-info {
         display: flex;
         align-items: center;
         gap: 50px;
         padding-top: 100px;

         & .promo-info-img {
            text-align: center;
            width: 550px;
            z-index: 1;

            & img {
               width: 300px;
               height: 500px;
            }
         }

         & .promo-info-text {
            width: 550px;
            height: 500px;
            display: grid;
            justify-content: space-between;
            justify-items: center;
            align-items: center;
            gap: 50px;
            z-index: 1;

            & .promo-info-text-description {
               text-align: center;

               & .promo-info-title {
                  font-size: 24px;
                  font-weight: 600;
                  letter-spacing: 1px;
               }

               & p {
                  font-size: 24px;
                  text-align: start;
                  padding: 20px;
                  border-radius: 18px;
               }
            }

            & button {
               background: rgba(243, 255, 222, 0.45);

               &:hover {
                  background: rgba(199, 210, 181, 0.45);
               }
            }
         }
      }
   }

   & .composition {
      padding-top: 180px;
      display: flex;
      gap: 100px;
      align-items: center;

      & .composition-items {
         display: grid;
         gap: 50px;
         background: rgba(243, 255, 222, 0.45);
         padding: 30px;
      }

      & .composition-item {
         display: grid;
         justify-content: space-between;
         max-width: 600px;
         min-height: 180px;
         gap: 10px;

         & .composition-item-info {
            display: flex;
            gap: 20px;
            align-items: start;

            & img {
               width: 70px;
               height: 100px;
            }
         }

         & button {
            width: 100%;
            height: 50px;
            border-radius: 12px;
            font-size: 24px;
         }
      }
   }

   & .carusel {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 185px;
      max-width: 80%;
      overflow-x: hidden;

      & .carusel-wrapper {
         display: flex;
         justify-items: center;
         transition: all 0.3s ease;

         & .comment {
            display: grid;
            gap: 10px;
            align-items: center;
            justify-items: center;
            width: 100%;
            flex: 0 0 100%;
            background-color: rgba(146, 242, 255, 0.25);
            padding: 50px;

            & .comment-user-img {
               width: 250px;
               height: 250px;
               object-fit: fill;
               box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
               border-radius: 50%;
            }

            & .user-name {
               font-size: 36px;
               font-weight: 600;
            }

            & .user-comment {
               border-radius: 12px;
               padding: 20px;
               font-size: 24px;
               background: rgba(243, 255, 222, 0.45);
               box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
            }
         }
      }
   }

   & .promo-2 {
      display: grid;
      justify-items: center;
      align-items: center;
      padding-top: 205px;
      position: relative;
      width: 100%;

      & .background-b {
         position: absolute;
         top: 80px;
         right: -70px;
         width: 55%;
         height: 97%;
         background: rgba(243, 255, 222, 0.45);
         z-index: -1;
      }

      & .promo-2-info {
         display: flex;
         gap: 80px;
         justify-content: center;
         align-items: center;

         & .promo-2-description {
            width: 520px;
            height: max-content;
            background-color: #e3dfdf;
            border-radius: 12px;
            padding: 30px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);

            & .promo-2-description-text {
               font-size: 18px;
               font-weight: 500;
            }
         }
      }

      & .promo-2-characteristic {
         display: grid;
         gap: 5px;
         background-color: #e2e3df;
         padding: 20px;
         border-radius: 12px;
         -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
         -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
         box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);

         & li {
            font-size: 18px;
         }
      }

      & button {
         margin-top: 20px;
         width: 35%;
         height: 80px;
      }
   }

   & .order {
      padding: 190px 0 100px 0;
      width: 100%;
      min-height: 1000px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      & .background-y {
         position: absolute;
         left: -67px;
         bottom: 0;
         z-index: -1;
         width: 60%;
         height: 80%;
         background-color: rgba(146, 242, 255, 0.25);
      }

      & .order-wrapper {
         display: grid;
         gap: 15px;
         justify-items: center;

         & .product-name {
            font-size: 40px;
            font-weight: 600;
            letter-spacing: 1px;
            color: #e0914b;
         }

         & .order-timer {
            width: 100%;
            text-align: center;

            & .order-time {
               font-size: 24px;
               color: #e3dfdf;
            }
         }

         & .order-form {
            display: flex;
            gap: 80px;
            justify-content: space-between;
            margin-top: 30px;

            & .order-price {
               display: grid;
               justify-items: center;
               align-content: center;
               width: 500px;
               gap: 20px;

               & .order-img-wrapper {
                  width: 220px;
                  height: 220px;
                  background-color: #fff;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;
                  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
                  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
                  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);

                  & .order-img {
                     width: 100px;
                     height: 140px;
                  }
               }

               & .prices {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 10px;
                  width: 220px;
                  height: 60px;
                  background-color: #93aef7;
                  border-radius: 12px;
                  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
                  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
                  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);

                  & .old-prcie {
                     font-size: 18px;
                     text-decoration: line-through;
                     color: #e3dfdf;
                  }

                  & .new-price {
                     font-size: 22px;
                     transform: scale(1);
                     animation: price 2s infinite;
                     color: #e3dfdf;
                  }
               }
            }

            .order-form-info {
               display: grid;
               justify-items: center;
               gap: 10px;
               width: 500px;
               background-color: rgba(68, 66, 66, 0.3);
               backdrop-filter: blur(50px);
               padding: 80px 25px;
               border-radius: 12px;

               & input {
                  width: 325px;
                  height: 36px;
                  border: none;
                  border-radius: 30px;
                  padding: 15px;
                  outline: none;
                  font-size: 18px;
               }

               & button {
                  width: 250px;
                  height: 36px;
                  border: none;
                  border-radius: 30px;
                  font-size: 18px;
                  text-align: center;
                  background-color: #93aef7;
                  margin-top: 10px;
                  color: #e7e3e3;

                  &:hover {
                     background-color: #7d93ce;
                  }
               }
            }
         }
      }
   }
}

@keyframes price {
   0% {
      transform: scale(0.9);
   }
   70% {
      transform: scale(1);
   }
   100% {
      transform: scale(0.9);
   }
}

@media (min-width: 768px) {
   .wrapper {
      padding: 0 50px;

      & .carusel {
         & .carusel-wrapper {
            & .comment {
               padding: 30px;
            }
         }
      }
   }
}

@media (min-width: 480px) and (max-width: 768px) {
   .wrapper {
      padding: 0 50px;

      & .promo {
         & .promo-info {
            & .promo-info-img {
               width: 350px;

               & img {
                  width: 170px;
                  height: 250px;
               }
            }

            & .promo-info-text {
               width: 350px;
               height: 250px;
               gap: 30px;

               & .promo-info-text-description {
                  & .promo-info-title {
                     font-size: 18px;
                  }

                  & p {
                     font-size: 18px;
                  }
               }
            }

            & button {
               width: 170px;
               height: 45px;
               font-size: 20px;
               border-radius: 10px;
            }
         }
      }

      & .composition {
         gap: 60px;

         & .composition-items {
            gap: 40px;
            padding: 15px;
         }

         & .composition-item {
            max-width: 300px;
            justify-items: center;

            & .composition-item-info {
               gap: 15px;

               & img {
                  width: 45px;
                  height: 70px;
               }

               & p {
                  font-size: 18px;
               }
            }

            & button {
               width: 80%;
               height: 30px;
               font-size: 20px;
               border-radius: 10px;
            }
         }

         & .composition-img {
            & img {
               width: 170px;
               height: 250px;
            }
         }
      }

      & .carusel {
         & .carusel-wrapper {
            & .comment {
               padding: 30px;
            }
         }
      }
   }
}

@media (max-width: 480px) {
   .wrapper {
      padding: 0 30px;

      & .promo {
         & .promo-title {
            font-size: 44px;
            z-index: 1;
         }

         & .promo-info {
            & .promo-info-img {
               width: 450px;

               & img {
                  width: 200px;
                  height: 300px;
               }
            }

            & .promo-info-text {
               width: 450px;
               height: 250px;
               gap: 30px;

               & .promo-info-text-description {
                  & .promo-info-title {
                     font-size: 24px;
                  }

                  & p {
                     font-size: 24px;
                  }
               }
            }

            & button {
               width: 200px;
               height: 45px;
               font-size: 26px;
               border-radius: 10px;
            }
         }
      }

      & .composition {
         gap: 40px;

         & .composition-items {
            gap: 40px;
            padding: 15px;
         }

         & .composition-item {
            max-width: 300px;
            justify-items: center;

            & .composition-item-info {
               gap: 15px;

               & img {
                  width: 70px;
                  height: 100px;
               }

               & p {
                  font-size: 22px;
               }
            }

            & button {
               width: 80%;
               height: 30px;
               font-size: 24px;
               border-radius: 10px;
            }
         }

         & .composition-img {
            & img {
               width: 200px;
               height: 300px;
            }
         }
      }

      & .carusel {
         & .carusel-wrapper {
            & .comment {
               padding: 30px;

               & .user-name {
                  font-size: 38px;
               }

               & .user-comment {
                  font-size: 30px;
               }
            }
         }
      }

      & .promo-2 {
         & .promo-2-info {
            gap: 10px;

            & .promo-2-description {
               & .promo-2-description-text {
                  font-size: 26px;
               }
            }
         }

         & .promo-2-characteristic {
            & li {
               font-size: 24px;
            }
         }
      }

      & .order {
         & .order-wrapper {
            & .product-name {
               font-size: 44px;
            }

            & .order-form {
               display: grid;

               & .order-price {
                  width: 100%;

                  & .order-img-wrapper {
                     width: 500px;
                     height: 500px;

                     & .order-img {
                        width: 270px;
                        height: 430px;
                     }
                  }

                  & .prices {
                     width: 300px;
                     height: 70px;

                     & .old-prcie {
                        font-size: 22px;
                     }

                     & .new-price {
                        font-size: 26px;
                     }
                  }
               }

               & .order-form-info {
                  width: 100%;

                  & label {
                     font-size: 30px;
                  }

                  & input {
                     width: 400px;
                     height: 40px;
                     padding: 20px;
                     font-size: 22px;
                  }

                  & button {
                     width: 300px;
                     height: 38px;
                     font-size: 20px;
                  }
               }
            }
         }
      }
   }
}
